:host {
  display: block;
}

/* Container */
.container {
  background: #fafafa;
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 100px;
  -webkit-box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.75);
}

.input-group {
  margin-bottom: 10px;
}

form {
  text-align: center;
}

button {
  margin-bottom: 20px;
  color: #fafafa;
  background-color: #ff530d;
  border: 1px solid #949494;
}
button:hover {
  color: #FFFFFF;
  background-color: burlywood;
  border: 1px solid #949494;
}
